@model practica1.Models.UsuarioModel
@{
    ViewBag.Title = "Login Page";
    Layout = null;
}

<html>
<head>
    <meta charset="UTF-8">
    <title>Login Form</title>

    <link href="~/Content/login/css/normalize.min.css" rel="stylesheet" />
    <link href="~/Content/login/css/style.css" rel="stylesheet" />
    <script src="~/Scripts/login/js/prefixfree.min.js"></script>
</head>
<body>
    <div class="login">
        <h1>Inicio</h1>
        @using (Html.BeginForm("Login", "Login", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.TextBoxFor(m => m.UserName, new { @class = "input", placeholder = "UserName" })
            @Html.PasswordFor(m => m.Password, new { @class = "input", placeholder = "Password" })
            <button type="submit" class="btn btn-primary btn-block btn-large">Ingresar</button>
        }
    </div>
</body>
</html>